:root {
  --ion-color-primary: #2563eb;
  --ion-color-primary-rgb: 37, 99, 235;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1d4ed8;
  --ion-color-primary-tint: #3b82f6;

  --ion-color-secondary: #2563eb;
  --ion-color-secondary-rgb: 37, 99, 235;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1d4ed8;
  --ion-color-secondary-tint: #3b82f6;

  --ion-color-tertiary: #2563eb;
  --ion-color-tertiary-rgb: 37, 99, 235;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #1d4ed8;
  --ion-color-tertiary-tint: #3b82f6;

  --ion-background-color: #f4f8ff;
  --ion-text-color: #111a2f;
}
